.zrender-layer {
  position: relative;
  width: 1000px;
  height: 700px;
  border: #000 1px solid;
  margin: 0 auto;
  .render-tool {
    left: -40px;
  }
  &-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &-quiet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.tool-wrapper {
  width: 40px;
  .tool-item {
    width: 100%;
    height: 100%;
  }
}