@font-face {
  font-family: 'icon-fonts';
  src:  url('fonts/fonts.eot?114xyn');
  src:  url('fonts/fonts.eot?114xyn#iefix') format('embedded-opentype'),
    url('fonts/fonts.ttf?114xyn') format('truetype'),
    url('fonts/fonts.woff?114xyn') format('woff'),
    url('fonts/fonts.svg?114xyn#fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-fonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fullscreen:before {
  content: "\e965";
}
.icon-nomalscreen:before {
  content: "\e966";
}
.icon-screenshare-off:before {
  content: "\e967";
}
.icon-screenshare-on:before {
  content: "\e968";
}
.icon-screenshare:before {
  content: "\e969";
}
.icon-profile:before {
  content: "\e962";
}
.icon-note2:before {
  content: "\e963";
}
.icon-note1:before {
  content: "\e964";
}
.icon-mic-off:before {
  content: "\e961";
}
.icon-camera-disable:before {
  content: "\e95c";
}
.icon-mic-disable:before {
  content: "\e95d";
}
.icon-math-add:before {
  content: "\e900";
}
.icon-down-load2:before {
  content: "\e901";
}
.icon-down-load1:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-reduce:before {
  content: "\e904";
}
.icon-done:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e906";
}
.icon-puase:before {
  content: "\e907";
}
.icon-sounds:before {
  content: "\e908";
}
.icon-animal:before {
  content: "\e909";
}
.icon-car:before {
  content: "\e90a";
}
.icon-classical:before {
  content: "\e90b";
}
.icon-emoji:before {
  content: "\e90c";
}
.icon-lion:before {
  content: "\e90d";
}
.icon-sport:before {
  content: "\e90e";
}
.icon-sigh:before {
  content: "\e90f";
}
.icon-stop:before {
  content: "\e910";
}
.icon-clock:before {
  content: "\e911";
}
.icon-coffee:before {
  content: "\e912";
}
.icon-facefocus:before {
  content: "\e913";
}
.icon-pen-off:before {
  content: "\e914";
}
.icon-pen-on:before {
  content: "\e915";
}
.icon-marks-left:before {
  content: "\e916";
}
.icon-marks-right:before {
  content: "\e917";
}
.icon-tip-left:before {
  content: "\e918";
}
.icon-tip-right:before {
  content: "\e919";
}
.icon-right-round:before {
  content: "\e91a";
}
.icon-time-round:before {
  content: "\e91b";
}
.icon-sound2:before {
  content: "\e91c";
}
.icon-cow:before {
  content: "\e960";
}
.icon-search:before {
  content: "\e95e";
}
.icon-searchpic:before {
  content: "\e95f";
}
.icon-block:before {
  content: "\e91d";
}
.icon-unlock:before {
  content: "\e91e";
}
.icon-people:before {
  content: "\e91f";
}
.icon-round:before {
  content: "\e920";
}
.icon-rectangle:before {
  content: "\e921";
}
.icon-triangle:before {
  content: "\e922";
}
.icon-round-full:before {
  content: "\e923";
}
.icon-straight:before {
  content: "\e924";
}
.icon-arrow:before {
  content: "\e925";
}
.icon-camera-off:before {
  content: "\e926";
}
.icon-camera-on:before {
  content: "\e927";
}
.icon-helper:before {
  content: "\e928";
}
.icon-add-round:before {
  content: "\e929";
}
.icon-add-blank:before {
  content: "\e92a";
}
.icon-add:before {
  content: "\e92b";
}
.icon-pic:before {
  content: "\e92c";
}
.icon-del:before {
  content: "\e92d";
}
.icon-refresh:before {
  content: "\e930";
}
.icon-unblock:before {
  content: "\e932";
}
.icon-clap:before {
  content: "\e933";
}
.icon-handup:before {
  content: "\e934";
}
.icon-blow-up:before {
  content: "\e935";
}
.icon-blow-down:before {
  content: "\e936";
}
.icon-music:before {
  content: "\e937";
}
.icon-next:before {
  content: "\e938";
}
.icon-next-all:before {
  content: "\e939";
}
.icon-pre:before {
  content: "\e93a";
}
.icon-pre-all:before {
  content: "\e93b";
}
.icon-rank:before {
  content: "\e93c";
}
.icon-star:before {
  content: "\e93d";
}
.icon-thumbup:before {
  content: "\e93e";
}
.icon-video:before {
  content: "\e93f";
}
.icon-vote:before {
  content: "\e940";
}
.icon-more:before {
  content: "\e941";
}
.icon-A:before {
  content: "\e92e";
}
.icon-arrow-right:before {
  content: "\e92f";
}
.icon-baton:before {
  content: "\e931";
}
.icon-arrow-left:before {
  content: "\e94e";
}
.icon-round2:before {
  content: "\e94f";
}
.icon-del2:before {
  content: "\e950";
}
.icon-eraser:before {
  content: "\e951";
}
.icon-line:before {
  content: "\e952";
}
.icon-maker-pen:before {
  content: "\e953";
}
.icon-pencil:before {
  content: "\e954";
}
.icon-pic-smile:before {
  content: "\e955";
}
.icon-rectangle2:before {
  content: "\e956";
}
.icon-redo:before {
  content: "\e957";
}
.icon-sound:before {
  content: "\e958";
}
.icon-triangle2:before {
  content: "\e959";
}
.icon-undo:before {
  content: "\e95a";
}
.icon-Aa:before {
  content: "\e95b";
}
.icon-A2:before {
  content: "\e942";
}
.icon-arrow-right2:before {
  content: "\e943";
}
.icon-arrow-left-bold:before {
  content: "\e944";
}
.icon-circle2:before {
  content: "\e945";
}
.icon-delete2:before {
  content: "\e946";
}
.icon-eraser2:before {
  content: "\e947";
}
.icon-line2:before {
  content: "\e948";
}
.icon-maker-pen2:before {
  content: "\e949";
}
.icon-pencil2:before {
  content: "\e94a";
}
.icon-rectangle-bold:before {
  content: "\e94b";
}
.icon-triangle-bold:before {
  content: "\e94c";
}
.icon-Aa2:before {
  content: "\e94d";
}
